## What Is a Database?

> A database is an organized collection of structured information, or data, typically stored electronically in a computer system. 

**A database is usually controlled by a database management system (DBMS).**

- Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.


```Data within the most common types of databases in operation today is typically modeled in rows and columns in a series of tables to make processing and data querying efficient. ```

```The data can then be easily accessed, managed, modified, updated, controlled, and organized. ```

Most databases use structured query language (SQL) for writing and querying data.

### Evolution of the database

- Databases have evolved dramatically since their inception in the early 1960s. 

```Navigational databases such as the hierarchical database (which relied on a tree-like model and allowed only a one-to-many relationship), and the network database (a more flexible model that allowed multiple relationships), were the original systems used to store and manipulate data.``` 


- Although simple, these early systems were inflexible. 

- In the 1980s, relational databases became popular, followed by object-oriented databases in the 1990s. 

*More recently, NoSQL databases came about as a response to the growth of the internet and the need for faster speed and processing of unstructured data.* 

```Today, cloud databases and self-driving databases are breaking new ground when it comes to how data is collected, stored, managed, and utilized.```

### Types

```There are many different types of databases. The best database for a specific organization depends on how the organization intends to use the data. ```


**Relational databases**

- Relational databases became dominant in the 1980s. 
- Items in a relational database are organized as a set of tables with columns and rows. 
- Relational database technology provides the most efficient and flexible way to access structured information.

    
**Object-oriented databases**
   
   - Information in an object-oriented database is represented in the form of objects, as in object-oriented programming.
    
    
**Distributed databases**
    
- A distributed database consists of two or more files located in different sites. The database may be stored on multiple computers, located in the same physical location, or scattered over different networks.

   
**Data warehouses**
    
- A central repository for data, a data warehouse is a type of database specifically designed for fast query and analysis.
    
    
**NoSQL databases**

   -  A NoSQL, or nonrelational database, allows unstructured and semistructured data to be stored and manipulated (in contrast to a relational database, which defines how all data inserted into the database must be composed). 
   - NoSQL databases grew popular as web applications became more common and more complex.
    
    
    
**Graph databases**
  - A graph database stores data in terms of entities and the relationships between entities.
    
    
**OLTP databases.**
  - An OLTP database is a speedy, analytic database designed for large numbers of transactions performed by multiple users.


**Some of the latest databases include**

   - Open source databases
   - Cloud databases
   - Multimodel database
   - Document/JSON database

### What is a database management system (DBMS)?


> A database typically requires a comprehensive database software program known as a database management system (DBMS).

```A DBMS serves as an interface between the database and its end users or programs, allowing users to retrieve, update, and manage how the information is organized and optimized.```

- A DBMS also facilitates oversight and control of databases, enabling a variety of administrative operations such as performance monitoring, tuning, and backup and recovery.

- Some examples of popular database software or DBMSs include MySQL, Microsoft Access, Microsoft SQL Server, FileMaker Pro, Oracle Database, and dBASE.

### Database challenges

Today’s large enterprise databases often support very complex queries and are expected to deliver nearly instant responses to those queries. As a result, database administrators are constantly called upon to employ a wide variety of methods to help improve performance. 

- Some common challenges that they face include:

    - Absorbing significant increases in data volume. 
    - Ensuring data security.
    - Keeping up with demand. 
    - Managing and maintaining the database and infrastructure. 
    - Removing limits on scalability. 
    - Ensuring data residency, data sovereignty, or latency requirements.

### What is a MySQL database?

```MySQL is an open source relational database management system based on SQL. ```

- It was designed and optimized for web applications and can run on any platform. 

- As new and different requirements emerged with the internet, MySQL became the platform of choice for web developers and web-based applications. 

**Because it’s designed to process millions of queries and thousands of transactions, MySQL is a popular choice for ecommerce businesses that need to manage multiple money transfers. On-demand flexibility is the primary feature of MySQL**.

- MySQL is the DBMS behind some of the top websites and web-based applications in the world, including Airbnb, Uber, LinkedIn, Facebook, Twitter, and YouTube.


MySQL is a widely used relational database management system (RDBMS).

MySQL is free and open-source.

MySQL is ideal for both small and large applications.

In [ ]:
SQL DATABASE vs NOSQL DATABASE 
------------------------------

### Installation

Please click on the below link for MySql Community Server download 
- https://dev.mysql.com/downloads/installer/


- WorkBench 
- Shell 
- Connectors

Popular commands 
- https://www.mysqltutorial.org/mysql-cheat-sheet.aspx

Datatypes
- https://www.w3schools.com/mysql/mysql_datatypes.asp

### Connecting with Shell 

- Open Command Prompt;

    mysql -u root -p

**creating a database**

```sql
CREATE DATABASE databasename;

ex: CREATE DATABASE pyDB;
```

**dropping a database**
```sql
DROP DATABASE databasename;

ex: DROP DATABASE pyDB;
```

**table creation**

```sql
CREATE TABLE table_name (
    column1 datatype constraint,
    column2 datatype constraint,
    column3 datatype constraint,
   ....
);

ex:

     CREATE TABLE person (
        person_id int,
        last_name varchar(255),
        first_name varchar(255),
        address varchar(255),
        city varchar(255)
    );

-- Follow snake_case or camelCase for column-names
-- Follow lowercase for table-names

```

**creating table from another existing table**
```sql
CREATE TABLE new_table_name AS
    SELECT column1, column2,...
    FROM existing_table_name
    WHERE ....;

ex: 
    CREATE TABLE TestTable AS
    SELECT customername, contactname
    FROM customers;
```


**drop a table**
```sql
DROP TABLE table_name;

ex: 
    DROP TABLE person;
```

**Truncate the table**
- The TRUNCATE TABLE statement is used to delete the data inside a table, but not the table itself.
```sql
    TRUNCATE TABLE table_name;

ex: 
    TRUNCATE TABLE TestTable
```

**Alter the table**
- The ALTER TABLE statement is used to add, delete, or modify columns in an existing table.

- The ALTER TABLE statement is also used to add and drop various constraints on an existing table.


```sql
    ALTER TABLE table_name
    ADD column_name datatype;
    
    ALTER TABLE table_name
    DROP COLUMN column_name;
    
    ALTER TABLE table_name
    MODIFY COLUMN column_name datatype;

ex:
    ALTER TABLE Customers
    ADD email varchar(255);
    
    ALTER TABLE Customers
    DROP COLUMN email;
    
    ALTER TABLE Persons
    ADD DateOfBirth date;
    
    ALTER TABLE Persons
    MODIFY COLUMN DateOfBirth year;
```

### MySQL Constraints

- SQL constraints are used to specify rules for data in a table.
- Constraints are used to limit the type of data that can go into a table
- This ensures the accuracy and reliability of the data in the table. If there is any violation between the constraint and the data action, the action is aborted.
- Constraints can be column level or table level. Column level constraints apply to a column, and table level constraints apply to the whole table.

- Constraints can be specified when the table is created with the CREATE TABLE statement, or after the table is created with the ALTER TABLE statement.


```sql
CREATE TABLE table_name (
    column1 datatype constraint,
    column2 datatype constraint,
    column3 datatype constraint,
    ....
);
```



- NOT NULL - Ensures that a column cannot have a NULL value
- UNIQUE - Ensures that all values in a column are different
- PRIMARY KEY - A combination of a NOT NULL and UNIQUE. Uniquely identifies each row in a table
- FOREIGN KEY - Prevents actions that would destroy links between tables
- CHECK - Ensures that the values in a column satisfies a specific condition
- DEFAULT - Sets a default value for a column if no value is specified.
- CREATE INDEX - Used to create and retrieve data from the database very quickly

#### NOT NULL
- By default, a column can hold NULL values.
- The NOT NULL constraint enforces a column to NOT accept NULL values.
> This enforces a field to always contain a value, which means that you cannot insert a new record, or update a record without adding a value to this field.


```sql
CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255) NOT NULL,
    Age int
);


ALTER TABLE Persons
MODIFY Age int NOT NULL;

```

##### UNIQUE Constraint
- The UNIQUE constraint ensures that all values in a column are different.
- Both the UNIQUE and PRIMARY KEY constraints provide a guarantee for uniqueness for a column or set of columns.
- A PRIMARY KEY constraint automatically has a UNIQUE constraint.

**However, we can have many UNIQUE constraints per table, but only one PRIMARY KEY constraint per table.**

```sql
CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    UNIQUE (ID)
);


!-- To name a UNIQUE constraint, and to define a UNIQUE constraint on multiple columns, use the following SQL syntax:


CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    CONSTRAINT UC_Person UNIQUE (ID,LastName)
);


!-- To name a UNIQUE constraint, and to define a UNIQUE constraint on multiple columns, use the following SQL syntax:

ALTER TABLE Persons
ADD CONSTRAINT UC_Person UNIQUE (ID,LastName);

!-- To drop a UNIQUE constraint, use the following SQL:

ALTER TABLE Persons
DROP INDEX UC_Person;
```

#### PRIMARY KEY Constraint

- The PRIMARY KEY constraint uniquely identifies each record in a table.
- Primary keys must contain UNIQUE values, and cannot contain NULL values.

- A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns (fields).

```sql
CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    PRIMARY KEY (ID)
);


CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    CONSTRAINT PK_Person PRIMARY KEY (ID,LastName)
);


ALTER TABLE Persons
ADD PRIMARY KEY (ID);

ALTER TABLE Persons
ADD CONSTRAINT PK_Person PRIMARY KEY (ID,LastName);

ALTER TABLE Persons
DROP PRIMARY KEY;

```

#### CHECK Constraint

- The CHECK constraint is used to limit the value range that can be placed in a column.

- defining a CHECK constraint on a column it will allow only certain values for this column.

- defining a CHECK constraint on a table it can limit the values in certain columns based on values in other columns in the row.


```sql
CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    CHECK (Age>=18)
);


CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    City varchar(255),
    CONSTRAINT CHK_Person CHECK (Age>=18 AND City='Sandnes')
);


ALTER TABLE Persons
ADD CHECK (Age>=18);


ALTER TABLE Persons
ADD CONSTRAINT CHK_PersonAge CHECK (Age>=18 AND City='Sandnes');


ALTER TABLE Persons
DROP CHECK CHK_PersonAge;
```

#### DEFAULT Constraint

- The DEFAULT constraint is used to set a default value for a column.

- The default value will be added to all new records, if no other value is specified.

```sql
CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    City varchar(255) DEFAULT 'Sandnes'
);
```


```sql
CREATE TABLE Orders (
    ID int NOT NULL,
    OrderNumber int NOT NULL,
    OrderDate date DEFAULT CURRENT_DATE()
);


ALTER TABLE Persons
ALTER City SET DEFAULT 'Sandnes';

ALTER TABLE Persons
ALTER City DROP DEFAULT;

```